* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f3f1;
    color: #333;
}

.background {
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 23px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgray;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    z-index: 10;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    min-height: 100vh;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    transform: translateY(30px);
    animation: slideUp 0.9s ease forwards;
}

@keyframes slideUp {
        from {
            opacity: 0;
            transform: translateY(30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero-text p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.btn-primary {
    background: #E67E22;
    color: white;
}

.btn-outline {
    border: #E67E22 solid;
    color: #E67E22;
    background: transparent;
    margin-left: 10px;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-card {
    width: 150%;
    max-width: 250px;
    background: #fff;
    padding: 20px;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.hero-card .photo {
    background: white;
    border-radius: 15px;
    height: 180px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #666;
}

.hero-card h2 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.hero-card p {
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.4;
}

.tag {
    display: inline-block;
    font-size: 11px;
    padding: 2px 7px;
    border-radius: 999px;
    background: #F1C40F;
    margin-right: 5px;
}

section {
    padding: 60px 40px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.section-title p {
    font-size: 14px;
    color: #666;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.info-box {
    background: white;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    font-size: 14px;
}

.info-box h2 {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.info-box p {
    margin-bottom: 5px;
    text-align: center;
}

.logo-pc img {
    width: 55px;
    margin-left: px;
}

.logo-pc img:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

footer {
    color: gray;
    text-decoration: none;
    font-size: small;
    text-align: center;
}

@media (max-width:768px) {
    header {
        padding: 10px 20px;
    }
    .hero {
        padding: 80px 20px 40px;
        flex-direction: column;
        text-align: center;
    }
    .hero-text {
        max-width: none;
    }
    .hero-image {
        margin-top: 20;
    }
    section {
        padding: 40px 20px;
    }
}